.tile {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 8px;
  box-sizing: border-box;
}

.occupied {
  background-color: gray;
}

.rpgui-icon {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }
}

.available-to-play {
  border-style: dashed;
  border-color: rgb(0, 162, 255);
  border-width: 4px;
  opacity: .5;
}