<div class="rpgui-container framed-golden" [class.player-to-move]="isPlayerToMove" style="position: relative;">
  <div>
    <label>{{playerName}}</label>
  </div>
  <div>
    <label>Cash</label>
    <span>{{playerCash | number}}</span>
  </div>
  <!-- <div>
    <label>Cards</label>
    <span>{{playerCards}}</span>
  </div> -->
  <div style="flex-direction: column;">
    <table>
      <tr>
        <th *ngFor="let hn of hotelNames; let hi = index;" >{{hn}}</th>
      </tr>
      <tr>
        <td *ngFor="let st of playerStocks; let hi = index;" [class.grayed-out]="isGrayedOut(hi)">{{st}}</td>
      </tr>
    </table>
  </div>
</div>