<div class="rpgui-content rpgui-cursor-default" *ngIf="state">
  <div class="inner rpgui-container framed">
    <h1>Player {{state.currentPlayerIndex }}: {{ state.phaseId }}</h1>

    <div *ngIf="state.phaseId == 'mergeDecide'"
      style="display: flex; gap: 4px; align-items: center; justify-content: center;">
      <button (click)="mergeDecideNext()">Next</button>
    </div>

    <div class="container-fluid">
      <div style="display: table; margin-top: 12px;">
        <div style="display: table-row;" *ngFor="let y of getArrayFromNumber(state.config.boardHeight)">
          <div style="display: table-cell;" *ngFor="let x of getArrayFromNumber(state.config.boardWidth)">
            <div class="rpgui-icon  {{getHotelClass([x,y])}} {{getOtherClass([x, y])}}" (click)="onTileClick([x, y])">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div> player index: {{ state.currentPlayerIndex }} </div>
      <div> player cash: {{ state.cash[state.currentPlayerIndex] }} </div>
      <div> tiles left in pile: {{ state.tilesPile.length }} </div>
      <div>
        {{getFilteredState() |json}}
      </div>
    </div>

    <div *ngIf="state.phaseId == 'establish'" style="display: flex; gap: 4px; align-items: center;">
      <button *ngFor="let hotel of state.config.hotels; let i = index" class="btn hotel-{{i}}"
        [class.disabled]="hotelExistsOnBoard(i)" style="color: white;" (click)="establish(i)">
        {{hotel.hotelName}}
      </button>
    </div>

    <div *ngIf="state.phaseId == 'invest'" style="display: flex; gap: 4px; align-items: center;">
      <div>
        <div>Residual cash: {{state.cash[state.currentPlayerIndex]}}</div>
        <div>Subtotal: {{getSubtotal()}}</div>
      </div>
      <div *ngFor="let hotel of state.hotels; trackBy: trackByIndex; let i = index" class="btn hotel-{{i}}">
        <label>{{state.config.hotels[hotel.hotelIndex].hotelName}}</label>
        <input [(ngModel)]="stockDecisions[i]" type="number" [min]="0" [max]="state.config.maxStocks">
      </div>
      <button [disabled]="getSubtotal() > state.cash[state.currentPlayerIndex] ">OK</button>
    </div>

    <div class="hotels-legend">
      <div *ngFor="let hotel of state.config.hotels; let i = index"
        class="hotels-legend-item {{getHotelLegendClass(i)}}">
        {{hotel.hotelName}} {{getHotelSize(i)}}
      </div>
    </div>
  </div>
</div>