.tile {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 8px;
  box-sizing: border-box;
}

.occupied {
  background-color: gray;
}

.rpgui-icon {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }
}

.available-to-play {
  border-style: dashed;
  border-color: fuchsia;
  border-width: 2px;
  opacity: .5;
}

.hotels-legend-item {
  color: rgb(173, 173, 173);
}


.hotel-0 {
  color: blue;
}

.hotel-1 {
  color: goldenrod;
}

.hotel-2 {
  color: green;
}

.hotel-3 {
  color: red;
}

.hotel-4 {
  color: purple;
}

.hotel-5 {
  color: black;
}

.hotel-6 {
  color: cornflowerblue;
}


.hotel-0::after {
  background-color: blue !important;
  opacity: 0.5;
}

.hotel-1::after {
  background-color: goldenrod !important;
  opacity: 0.5;
}

.hotel-2::after {
  background-color: green !important;
  opacity: 0.5;
}

.hotel-3::after {
  background-color: red !important;
  opacity: 0.5;
}

.hotel-4::after {
  background-color: purple !important;
  opacity: 0.5;
}

.hotel-5::after {
  background-color: black !important;
  opacity: 0.5;
}

.hotel-6::after {
  background-color: cornflowerblue !important;
  opacity: 0.5;
}



.disabled::after {
  background-color: gray !important;
  opacity: 0.5;
  pointer-events: none;
}