<div class="rpgui-content rpgui-cursor-default" style="display: flex; align-items: center; justify-content: center;">
  <div class="inner rpgui-container framed">
    <h1 style="font-size: x-large">Welcome to THE POWER OF MONEY</h1>
    <hr class="golden">
    <form>
      <h2 style="font-size:larger">Join game</h2>
      <div>
        <label for="gameId">Game ID</label>
        <input type="text" placeholder="Enter game ID" id="gameId" name="gameId" [(ngModel)]="gameId"
          autocomplete="off">
        <div class="rpgui-center">
          <button class="rpgui-button" type="submit">
            <p>Join</p>
          </button>
        </div>
      </div>
    </form>
    <hr class="golden">
    <form>
      <h2 style="font-size:larger">New game</h2>
      <div>
        <div class="rpgui-center">
          <button class="rpgui-button" type="submit">
            <p>Start</p>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>