.common-bordered {
  border: 1px solid var(--color-black);
  border-radius: 8px;
}

.common-padded {
  padding: 4px;
}

.playground-container {
  width: 100vw;
  height: 100vh;
  font-size: 12px;
  color: var(--color-black);
  --mt1: 4px;
  --mt2: 8px;
  --mh1: 20px;
}

.game-board {
  display: grid;
  grid-template-rows: repeat(10, 2.5vw);
  grid-template-columns: repeat(13, 2.5vw);
  gap: 4px;
}

@media (min-width: 768px) {
  .playground-container {
    font-size: 14px;
  }
}

@media (min-width: 960px) {
  .playground-container {
    font-size: 16px;
    --mt1: 8px;
    --mt2: 16px;
  }

  .common-padded {
    padding: 8px;
  }

  .game-board {
    grid-template-rows: repeat(10, 3vw);
    grid-template-columns: repeat(13, 3vw);
    gap: 8px;
  }
}

@media (min-width: 1200px) {
  .playground-container {
    font-size: 18px;
    --mt1: 18px;
    --mt2: 18px;
    --mh1: 32px;
  }

  .common-padded {
    padding: 20px;
  }

  .player-tiles {
    width: 140px !important;
  }

  .hotels-list {
    width: 240px !important;

  }

  .game-board {
    grid-template-rows: repeat(10, 3.5vw);
    grid-template-columns: repeat(13, 3.5vw);
  }
}

.turn-indicator {
  background: rgb(200, 180, 240);
  text-align: center;
}

.players-container {
  display: flex;
  gap: 32px;
  margin-left: var(--mh1);
  margin-right: var(--mh1);
  margin-top: var(--mt1);
  margin-bottom: var(--mt1);
  justify-content: center;
}

.player-card {
  width: 20%;
}

.player-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-area {
  display: flex;
  justify-content: center;
}

.player-tiles {
  width: 80px;
}

.player-tiles ul {
  margin-left: var(--mh1);
  margin-right: var(--mh1);
  margin-top: var(--mt1);
  margin-bottom: var(--mt1);
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--mt1);
  justify-content: space-between;
}

.tile-card {
  text-align: center;
}

.hotels-list {
  width: 180px;
}

.hotels-list ul {
  margin-right: var(--mh1);
  margin-left: var(--mh1);
  margin-top: var(--mt1);
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--mt1);
  justify-content: space-between;
}

.hotel-item {
  display: flex;
  gap: var(--mt1);
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
}

.hotel-initial {
  display: inline-block;
  min-width: 18px;
  text-align: center;
}

.player-card-extended {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.player-card-extended-stock {
  display: flex;
  flex-direction: column;
  width: 14px;
}